language: python

jobs:
  include:
    - stage: check
      name: "Syntax validation - Python 2.7"
      python: 2.7
      script:
         - python -m compileall -q *

    - name: "Syntax validation - Python 3.8"
      python: 3.8
      script:
         - python3 -m compileall -q *

    - stage: build
      name: "Build - Python 2.7"
      python: 2.7
      install:
         # Setup a DIALS installation
         - ./.travis/setup-base

      before_script:
         # Enter DIALS environment, install screen19, and update dispatchers
         - cd $HOME/build_dials/build
         - . setpaths.sh
         - libtbx.pip install -e $HOME/build/xia2/screen19
         - libtbx.configure .

      script:
         # Run the tests
         - cd $HOME/build/xia2/screen19
         - pytest -ra -n auto --regression
         - .travis/check-working-directory-is-clean

    - name: "Build - Python 3.6"
      python: 3.6
      install:
         # Setup a DIALS installation
         - ./.travis/setup-base3

      before_script:
         # Enter DIALS environment, install screen19, and update dispatchers
         - cd $HOME/build_dials/build
         - . setpaths.sh
         - libtbx.pip install -e $HOME/build/xia2/screen19
         - libtbx.configure .

      script:
         # Run the tests
         - cd $HOME/build/xia2/screen19
         - pytest -ra -n auto --regression
         - .travis/check-working-directory-is-clean

      # Assuming you have installed the travis-ci CLI tool, after you
      # create the Github repo and add it to Travis, run the
      # following command to finish PyPI deployment setup:
      # $ travis encrypt --pro --add deploy.password -r xia2/screen19
      deploy:
        provider: pypi
        distributions: sdist bdist_wheel
        user: mgerstel
        password:
          secure: RpF4KMjtacB2oiznZDydkcT/69YHKWs2eP+Ec8SDSb8tYIekYNKKNHXT2GPNpdj7yX6PCBC1uY4y1szrlv95Vn1pzXNQ4lQHsWMMGue6aVhQaixx5qMDCDJrD1CVbAy5JNMXmJ8CQxikA6QQ+cmECR4rGResk7ZhEh7f//IXXZCMD+Xf8vDVYBpzW+5a21eT1H5wHUp7cIlfFXn6ew2Exg/lpTUhC/KNoJ/g8fOND7/4eQTG8c5wKvLznEsdttOw3DY3G6fG/BkpBpaEb/1PVlzQKiN4XYwoWoP+PMJgSZ4LkPTQ/zeIJ+JPvP5AT1PGQhYBz4gzP9FtwFyqQhjFEYab/m0vukZz4gk6rDjZNoi1RMSuZqBXvz8c9yi+4aqtypTkXg5Hl5ypoRCveR8222UogmXUqLhvx8MhQeQcabTkAXSab33/XcdbqWMgqiIF830cm/k9MkugTXK/69uXeMVbV4CxAhXHg34J1s7Bu3j7lqJZfpGv6duDVhfjAVgaBfUO7SmIuBwWJskvSijGTAxKS54tLCR2C2ZXplwKMDDsmZmGt+e7q2Rby8n96vY9UwuNARgfU5LGE4EQP4Vq3TnnbnVaTIZ617E7hlZm43ntU5xO4deM0hiyidcUWj30WiwE+z83XOeV4scaYE+NzovlVUsBGejjUlDTyh88Ez0=
        on:
          tags: true
          repo: xia2/screen19

    - name: "Flake8 - Python 2.7"
      python: 2.7
      script: .travis/run-flake8
      if: type = pull_request

    - name: "Flake8 - Python 3.8"
      python: 3.8
      script: .travis/run-flake8
      if: type = pull_request
